<div class="records">
  <select class="w-75 mx-auto p-1" onchange="window.location.href=this.value;" style="display: block;" disabled>
    <option selected>類別</option>
    <option value="/filter?order=asc&filter=domestic">家居物業</option>
    <option value="/filter?order=asc&filter=traffic">交通出行</option>
    <option value="/filter?order=asc&filter=recreation">休閒娛樂</option>
    <option value="/filter?order=asc&filter=diet">餐飲食品</option>
    <option value="/filter?order=asc&filter=others">其他</option>
  </select>
  <h5 class="p-1 w-75 mx-auto">總金額：</h5>
  <div class="total-amount text-right w-75 mx-auto" style="color: coral; font-size: 70px;">0</div>
  
</div>
<ul class="list-group">
  {{#each todos}}
  <li class="list-group-item">
    <div class="row">
      <div class="col-auto mr-auto">
        <input style="vertical-align: middle;" type="checkbox" name="done" {{#if this.done }} checked{{/if}} />
        <h4 style="display: inline;vertical-align: middle;">{{{this.name}}}</h4>
      </div>
      <div class="col-auto">
        <a href="/records/{{{this.id}}}" class="btn btn-secondary">detail</a>
        <a href="/records/{{{this.id}}}/edit" class="btn btn-success">edit</a>
        <form action="/records/{{{this.id}}}/delete?_method=DELETE" method="post" style="display:inline">
          <button type="submit" class="btn btn-danger">delete</button>
        </form>
      </div>
    </div>
  </li>
  {{/each}}
  <a href="/records/new" class="btn btn-outline-dark text-white w-50 mx-auto" style="background-color: coral;">新增支出</a>
</ul>